*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    text-align: center;
    background-color: rgb(255, 0, 0);
}

.header-element img{
    width: 100px;
}

article h1{
    padding: 40px 0;
    text-align: center;
    font-size: 30px;
}

div{
    padding: 15px 0;
  text-align: justify;
  align-content: center;
  


}

#img1{
   margin: 30px;
   margin-left: 19%;
    width: 62%;
    height: 500px;
   top:50%;
   left:50%;
 
}

footer{
background-color: red;
color: white;
font-weight: 600;   
}

#Aprenda{
    font-size: x-large;
    font-weight: 700;
}

.flex{
    
}
#videoid{
    margin: 15px;
    margin-left: 20%;
    width: 60%;
    height: auto;
    align-content: center;
}
#myAudio{
    margin: 10px;

}